.header{
    padding: 60px;
    text-align: center;
    background:#96D5D1 ;
    color: white;
    font-size: 30px;
}

#con1{
    background-color: tomato;
    border-radius: 10px;
}

p{
    font-family: cursive;
}

#hh{
    font-family:fantasy;
    color: whitesmoke;
    background-color: rgb(31, 28, 28);

}

#contact{
    padding: 10px;
    border-radius: 5px;
    background: #67B983;
    
}

#hash{
    height: 500px; ;
    
}

.heading{
    color: rgb(35, 224, 17);
    font-family: cursive;
   
    width:fit-content ;
    height: fit-content;
    padding: 20px;
    margin: auto;
}

#caution{
    color: red;
}

#h333 {
    background-color: rosybrown;
    border: rgb(214, 211, 21);
    width: 700px;
    border-radius: 30px;
    margin: auto;

    
}

.html-css-image{
    margin: auto;
    width: 200;
    border-radius: 10px;
    padding-right: 20px;
}

.foot{
    height: 101px;
    background: rgb(37, 35, 35);
    text-align: center;
}

#socials{
    padding: 30px;
    
}

#git{
    padding: 10px;
    width: 200px;
    background: #171515;
    border: black;
    border-radius: 20px;
    font-family:serif;
    color: white;
    
    
}

#insta{
    padding: 10px;
    width: 200px;
    background-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    
    border: black;
    border-radius: 20px;
    font-family:serif;
    
    
}

#link{
    padding: 10px;
    width: 200px;
    background: #0077b5;
    border: black;
    border-radius: 20px;
    font-family:serif;
    
    
}

.mail{
    text-align: center;
    width: 300px;
    background: whitesmoke;
    border: rgb(0, 0, 0);
    border-radius: 30px;
    border-width: 7px;
}

.name{
    
    text-align: center;
    background: whitesmoke;
    width: 300px;
    border: rgb(0, 0, 0);
    border-radius: 30px;
    border-width: 7px;
}

#comment{
    width: 300px;
    text-align: center;
    background: whitesmoke;
    border: rgb(0, 0, 0);
    border-radius: 30px;
    border-width: 7px;
}

.a{
    color:white;
    
}
.b{
    color:white;
}
.c{
    color:white;
}